@font-face {
  font-family: "centaury";
  src: url("Centaury-DisplayItalic.otf");
  }
    
.infos{
position: absolute;
background: red;
text-decoration: none;
} 
    
.liens{
display: flex;
position: relative;
flex-direction : column;
}
body{
background: orange;
color : black;
}
liens, a{
margin:5px 0;
padding:3px 10px;
color:black;
border-left: solid 2px black;
border-collapse: separate;
background: #E39A14;
text-decoration: none;
}
.descriptif{
position : relative;
width: 70vw;
background-color: pink;
}
h1{
font-family: centaury;
font-size: 4em;
text-align: center;
}
h2{
font-family: Monospace, sans-serif;
font-weight: lighter;
font-size: 4em;
position: absolute;
margin: auto;
top: 5vh;
left: 35vw;
color:pink;
}
.intro{
background: pink;
}
