body{
background-image:url('petites/pintur3.jpg');
background-repeat:repeat   ;
background-size: 200px ;
margin: auto;
}
*{
    font-family: monospace;
    letter-spacing: -3.5px;
}
#tout{
font-size: 14pt;
letter-spacing: 1px;
display: flex;
margin: auto;
}
.down{
    position : relative;
    display: flex;
    flex-direction: column;
    top: 200vh;
}
.first a {
text-decoration: underline;
color: red;
}
.first{
display:flex;
flex-wrap: wrap;
position: relative;
justify-content:space-between;
font-size: 20pt;
color:red;
}
.id{
flex-basis: 33,3%;
text-decoration: none;
margin: 5px;
}
.idbis{
    position: relative;
    font-size: 22pt;
    letter-spacing: -3px;
    color:white;
}
.liens{
position: relative;
background-color: black;
font-size: 26pt;
}
 .liens a{
color:mediumslateblue;
padding:10px;
}
#core{
width: 5px;
height: 10px;
}
.description{
    color: mediumpurple;
}

/*
@media screen and (min-width: 600px) and (min-height: 1000px){
.liens{

display: flex;
flex-direction: column;
opacity: 0,5;
    top: 0px;
}
.liens>a {
    font-size: 1.3em;
    color: darkgrey;
    margin:5px;
    background-color: black;

}
.corps{
    background-color: black;
    top: 10vh;
}
.description{
    font-size: 1,1em;
    display: block;
    padding-left: 10px;
}
a + div{
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px rgba(50, 50, 93, 0.25);
box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 6px -2px, rgba(0, 0, 0, 0.3) 0px 3px 0px -3px;

}
#tout{
    top: 50vh;
}
*/
