body{
margin: auto;
height: 150vh;
overflow:hidden;
}
.blur{
    z-index: -10;
    width: 100%;
    height: 200vh;
    filter: blur(3px);
    position: absolute;
    background-image:url('petites/pintur4.jpg');
    background-repeat:repeat   ;
    top: 0px;
    background-size: 1000px ;
}
*{
    font-family: sans-serif;

.by{
    position: fixed;
    top: 97vh;
    background-color: black;
    color: white;
}
@media screen and (max-width: 1000px) and (min-height:500px){

}
