body{
overflow: hidden;
background-image:url('petites/pintur11.jpg');
background-repeat:repeat   ;
background-size: 200px ;
}

#tout{
font-size: 0.7em;
display: flex;
margin: auto;

}
img{
opacity: 0.8;
width: 200px;
transform: rotate(90deg);
}

*{
font-family: times New roman;
font-size: 1.1rem;
color: block;
}
.first a {
text-decoration: underline;
color: black;
}
.first{
display:flex;
position: relative;
justify-content:space-between;
}
.first> *{
margin: 20px;
}
.paragraphe{
width: 300px;
height: 300px;
}
.id{
text-decoration: none;
margin: 5px;
}

.liens{
display:flex;
flex-direction:column;
align-items: center;
}
 .liens a{
position: relative;
justify-content: center;
background:#5914B6;
color:white;
padding:2px;
}

